*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache
bundle.js
*node_modules*
*/var/*
*~
*.lock
*.swp
.vscode
.vscode/
*.DS_Store
wolvwealth/static/img/logo.psd
wolvwealth/static/img/hero.psd
wolvwealth/static/img/feature1.psd
wolvwealth/static/css/output.css
