appdirs==1.4.4
arrow==1.3.0
astroid==3.0.1
bcrypt==4.1.1
beautifulsoup4==4.12.2
blinker==1.7.0
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.2
clarabel==0.6.0
click==8.1.7
cvxpy==1.4.1
defusedxml==0.7.1
dill==0.3.7
docopt==0.6.2
ecos==2.0.12
exceptiongroup==1.1.3
Flask==3.0.0
frozendict==2.3.8
html5lib==1.1
html5validator==0.4.2
httpie==3.2.2
idna==3.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
madoop==1.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
multidict==6.0.4
multitasking==0.0.11
numpy==1.26.2
osqp==0.6.3
packaging==23.2
pandas==2.1.3
peewee==3.17.0
pipreqs==0.4.13
platformdirs==4.0.0
pluggy==1.3.0
pybind11==2.11.1
pycodestyle==2.11.1
pydocstyle==6.3.0
Pygments==2.17.0
pylint==3.0.2
pyportfolioopt==1.5.5
PySocks==1.7.1
pytest==7.4.3
pytest-mock==3.12.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
qdldl==0.1.7.post0
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.0
scipy==1.11.3
scs==3.2.4
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
tomli==2.0.1
tomlkit==0.12.2
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
webencodings==0.5.1
Werkzeug==3.0.1
yarg==0.1.9
yfinance==0.2.32
