@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
    /* transition:0.1s ease; */
}

p {
    margin-bottom: 15px !important;
}

.fira {
    font-family: 'Fira Code', monospace;
}

tspan {
    color: white !important;
}

text {
    fill: white !important;
}
button:hover {
    background:#2F52E0;
    color:white;
}
svg {
    overflow: visible;
}