<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}WolvWealth{% endblock %}</title>
    <meta name="description" content="{% block description %}Portfolio Optimizer{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#111111">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}bg-gray-dark font-sans{% endblock %}">
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    <footer class="w-[90%] h-10 mx-auto">
        <div class="text-center py-12">
            <p class="text-white mb-2">&copy; 2024 WolvWealth. All rights reserved.</p>
            <p class="text-xs mx-auto" style="max-width: 1017px; color: gray;">
                The calculations and information on this site are for educational
                purposes only and are not investment advice. Calculations are estimates and do not account for all
                market conditions. Nothing contained on this site constitutes a solicitation, recommendation,
                or offer to buy or sell any financial instruments. Stock
                recommendations presented on this site do not represent the opinions of WolvWealth on whether to buy,
                sell or hold shares of a particular stock. Past stock performance is no
                guarantee of future price performance.
            </p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>
