{% extends "base.html" %}

{% block description %}Invest with precision and confidence with a modern portfolio optimizer.{% endblock %}

{% block extra_head %}
<meta property="og:title" content="WolvWealth" />
<meta property="og:description" content="Invest with precision and confidence with a modern portfolio optimizer." />
<meta property="og:image" content="https://wolvwealth.com/static/img/logo.png" />
<meta property="og:url" content="https://wolvwealth.com" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="WolvWealth" />
<meta name="twitter:description" content="Invest with precision and confidence." />
<meta name="twitter:image" content="https://wolvwealth.com/static/img/logo.png" />
<meta name="twitter:image:alt" content="WolvWealth Logo" />
<meta name="author" content="Ryan Ramboer">
<meta name="keywords"
    content="portfolio, optimizer, portfolio optimizer, portfolio optimization, portfolio optimization strategies, portfolio optimization techniques, portfolio optimization python, financial tech, fintech, wolvwealth">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
{% endblock %}

{% block header %}{% include "_header.html" %}{% endblock %}

{% block content %}
<section
    class="bg-[url('/static/img/gold.png')] w-full h-screen bg-center bg-cover flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
        <div class="text-center">
            <h1
                class="mb-4 mx-auto text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl ubuntu">
                Invest with precision and confidence.</h1>
            <p class="mb-6 text-lg font-normal text-[#cad0da] lg:text-xl sm:px-16 xl:px-48">Empower your investment
                decisions with our modern portfolio optimizer.</p>
        </div>
    </div>
</section>
{% endblock %}
