<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="WolvWealth" />
    <meta property="og:description" content="Invest with precision and confidence." />
    <meta property="og:image" content="https://wolvwealth.com/static/img/logo.png" />
    <meta property="og:url" content="https://wolvwealth.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="WolvWealth" />
    <meta name="twitter:description" content="Invest with precision and confidence." />
    <meta name="twitter:image" content="https://wolvwealth.com/static/img/logo.png" />
    <meta name="twitter:image:alt" content="WolvWealth Logo" />
    <meta name="description" content="Portfolio Optimizer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#111111">
    <meta name="author" content="Ryan Ramboer">
    <meta name="keywords"
        content="portfolio, optimizer, portfolio optimizer, portfolio optimization, portfolio optimization strategies, portfolio optimization techniques, portfolio optimization python, financial tech, fintech, wolvwealth, mhacks 16">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/logo.png" type="image/png">
    <title>WolvWealth</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                colors: {
                    'gray-dark': '#111111',
                    'gray': '#222222',
                    'white': '#ffffff',
                    'yellow': '#ffff6b',
                    'blue': '#2F52E0',
                    'cyan': '#67e8f9',
                    'green': '#42d36e',
                    'red': '#ff715b'
                },
                fontFamily: {
                    sans: ['-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'sans-serif'],
                    mono: ['"Fira Code"', 'monospace']
                },
                extend: {
                    borderRadius: {
                        '4xl': '2rem',
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-gray-dark font-sans">
    <header class="fixed w-screen">
        <nav class="px-5">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="/static/img/logo.png" class="h-8" alt="WolvWealth Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">WolvWealth</span>
                </a>
            </div>
        </nav>
    </header>
    <section
        class="bg-[url('/static/img/hero.png')] w-full h-screen bg-center bg-cover flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
            <div class="text-center">
                <h1
                    class="mb-4 mx-auto text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl">
                    Invest with precision and confidence.</h1>
                <p class="mb-6 text-lg font-normal text-[#cad0da] lg:text-xl sm:px-16 xl:px-48">Empower your investment
                    decisions with our cutting-edge modern portfolio optimizer</p>
            </div>
        </div>
    </section>
    <section
        class="bg-gray-dark w-[100%] h-screen bg-center bg-cover flex flex-wrap items-center justify-between mx-auto">
        <div class="flex items-center justify-center w-full h-full bg-gray-dark/30 py-12 px-4">
            <div class="text-center">
                <h3
                    class="mb-4 mx-auto text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl">
                    Documentation</h3>
                <p class="mb-6 text-lg font-normal text-[#cad0da] lg:text-xl sm:px-16 xl:px-48">WolvWealth v1.1.0</p>
            </div>
        </div>
    </section>

    <footer class="w-[90%] h-12 mx-auto my-12 py-12 border-t-2 border-white">
        <div class="text-center">
            <p class="text-white">&copy; 2023 WolvWealth. All rights reserved.</p>
        </div>
    </footer>

    <script>
        window.onscroll = (e) => {
            posY = this.scrollY;
            const header = document.querySelector('header');
            if (posY > 0) {
                header.classList.add('transition', 'duration-500', 'ease-in');
                header.classList.add('bg-gray-dark/50');
                header.classList.add('backdrop-blur');
            } else {
                header.classList.add('transition', 'duration-500', 'ease-in');
                header.classList.remove('bg-gray-dark/50');
                header.classList.remove('backdrop-blur');
            }
        }
    </script>
</body>

</html>