{% extends "base.html" %}

{% block title %}Optimize | WolvWealth{% endblock %}
{% block description %}WolvWealth portfolio optimizer.{% endblock %}

{% block extra_head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body_class %}bg-gray font-sans{% endblock %}

{% block header %}{% include "_header.html" %}{% endblock %}

{% block content %}
<div id="reactEntry" class="w-full h-full">
    <!-- This div is used by React to render the app -->
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{% endblock %}
